/* Startpage  Css
   By Dylan Araps */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
html,
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #181818;
}

main {
  display: block;
  font-family: 'lexend deca';
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 100%;
}

h1 {
  color: #e7a7c7;
  display: block;
  margin: 0 auto;
  width: 800px;
  text-align: center;
  font-size: 3em
}

ul2 {
  display: block;
  margin: 0 auto;
  width: 800px;
  text-align: center;
  
}

h2 {
  color: #c7a7e7;
  display: inline-block;
  font-weight: normal;
  line-height: 0.5;
  list-style: none;
  font-size: 3em
}

hr {
  color: #AAAAAA
  border: 0;
  border-top: 1px solid #111111;
  opacity: .4;
  width: 800px;
}

ul {
  display: block;
  margin: 0 auto;
  width: 800px;
  text-align: left;
}

li {
  color: #000000;
  display: inline-block;
  font-size: 2em;
  line-height: 1.5;
  list-style: none;
  margin: 5px;
}

a {
  color: #a7c7e7;
  text-decoration: none;
  transition: .2s;
}

b {
  color: #a7e7c7;
  text-decoration: none;
}

a:hover {
  color: #a7a7e7;
}
